<div class="testestest">
  <%= render 'shared/dropdown' %>
<head>
    <title>PARTYSPHERE</title>
</head>
  <!-- PARTY TITLE -->
  <h1 class="header"><%=@party.title%></h1>

  <!-- PARTY PHOTO -->
  <div class="party-photo-container">
    <% unless @party.photo.nil? %>
    <%= image_tag "#{@party.photo}", class: "party-photo-round"%>
    <% else %>
    <%= image_tag("default_image.jpg", alt: "Default Party Image", class: "party_photo-round")%>
    <% end %>
  </div>

  <!-- PARTY DESCRIPTION -->
  <p class="paragraph"><%=@party.description%></p>


  <!-- ANALYTICS -->
  <h1 class="sub-header">Party analytics</h1>

  <!-- SMALL PARTY ANALYTICS TABLE -->
  <div class="littlebox">
    <table class="smallanalytics">
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1">Tracks</td>
        <td class="smallanalytics-text2">Duration</td>
        <td class="smallanalytics-text3">Guests</td>
      </tr>
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1"><%= @playlist.scoped_tracks_size %></td>
        <td class="smallanalytics-text2"><%= @duration %></td>
        <td class="smallanalytics-text3">15</td>
      </tr>
    </table>
  </div>

  <!-- GENRE CHART -->
  <!-- <div class="wrapper"> -->
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="title text-center mb-5">
      </div>
      <div class="chart-wrapper">
        <div class="chart-container" style="position: relative; height: 40vh; width:80vw">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

    <script>
    let ctx = document.getElementById('myChart').getContext('2d');
    const genres = []
    <% @genre.each do |genre| %>
    genres.push("<%= genre %>");
    <% end %>
    const occurrences = {}

    genres.forEach((v) => {
    if (occurrences[v]) {
    occurrences[v] = occurrences[v] + 1
    }
    else occurrences[v] = 1
    })

    const sortable = [];
    for (let o in occurrences) {
    sortable.push([o, occurrences[o]]);
    }

    sortable.sort(function(a, b) {
    return b[1] - a[1];
    });

    const genresByPopularity = {}

    sortable.forEach(pair => {
    genresByPopularity[pair[0]] = pair[1]
    })

    let check = Object(genresByPopularity)

    var array_keys = new Array();
    var array_values = new Array();
    var final_values_array = new Array();

    for (var key in check) {
    array_keys.push(key);
    array_values.push(check[key])
    }
//

//
    array_values.slice(0,5).forEach((value)=>{
    final_values_array.push((Math.round((value / array_values.reduce((a,b)=>(a+b),0) * 100))))
    })
    let colorHex = ['#ffa500', '#ff4883', '#da53e0', '#40a0e0', '#00ffa5'];
    let myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: final_values_array,
          backgroundColor: colorHex
        }],
      labels: array_keys.slice(0,5)
      },
      options: {
      layout: {
      padding: {
      bottom: 10,
      top: 30
      }
    },
      responsive: true,
      legend: {
        // position: 'left',
        display: false
      },
      plugins: {
        datalabels: {
          color: '#fff',
          anchor: 'end',
          // align: 'start',
          // offset: -10,
          // borderWidth: 2,
          // borderColor: '#fff',
          borderRadius: 25,
          backgroundColor: (context) => {
            return context.dataset.backgroundColor;
          },
          font: {
            // weight: 'bold',
            size: '10'
          },
          formatter: (value,context) => {
            return  context.chart.data.labels[context.dataIndex].charAt(0).toUpperCase() + context.chart.data.labels[context.dataIndex].slice(1)  + ": " +  value + "%";
          }
        }
      }
    }
    })
  </script>

    <!-- BIG PARTY ANALYTICS TABLE -->
  <div class="bigbox">
   <table class="biganalytics">
    <tr class="biganalytics-row">
      <td class="biganalytics-text1">Danceability</td>
      <td class="biganalytics-text2">Energy</td>
    </tr>
    <tr class="biganalytics-row">

      <!-- DANCEABILITY -->
      <td class="biganalytics-text3">
        <% if @danceability.nil? %>
        0%
        <% else %>
        <%= @danceability.to_i %>%
        <% end %>
      </td>

      <!-- ENERGY -->
      <td class="biganalytics-text4">
        <% if @energy.nil? %>
        0%
        <% else %>
        <%= @energy.to_i %>%
        <% end %>
      </td>
    </tr>
    <tr class="biganalytics-row">
      <td class="biganalytics-text5">Valence</td>
      <td class="biganalytics-text6">Popularity</td>
    </tr>
    <tr class="biganalytics-row">

      <!-- VALENCE -->
      <td class="biganalytics-text7">
        <% if @valence.nil? %>
        0%
        <% else %>
        <%= @valence.to_i %>%
        <% end %>
      </td>

      <!-- POPULARITY -->
      <td class="biganalytics-text8">
        <% if @popularity.nil? %>
        0%
        <% else %>
        <%= @popularity.to_i %>%
        <% end %>
      </td>
    </tr>
  </table>
</div>
</div>

  <%= form_for '', url: party_playlist_create_on_spotify_path(@party, @party.playlist), method: :post do |f| %>
<%= f.submit  %>
<% end %>
  <%= render 'shared/navbar' %>
<!-- </div> -->
  <!-- </div> -->
