<div class="testestest">
  <%= render 'shared/dropdown' %>
<head><style type="text/css">
  #low {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #lows {
    margin-bottom: 35px;
  }
</style>
    <title>PARTYSPHERE</title>
    <style type="text/css">
  .analytics {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.61px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  }
    </style>
</head>
  <!-- PARTY TITLE -->
  <h1 class="normalheader"><%=@party.title%></h1>

<!-- loadingicon -->
<% unless @party.playlist.danceability %>
<div class="loader">
  <svg>
  <g>
    <path d="M 50,100 A 1,1 0 0 1 50,0"/>
  </g>
  <g>
    <path d="M 50,75 A 1,1 0 0 0 50,-25"/>
  </g>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#40a0e0;stop-opacity:1" />
      <stop offset="40%" style="stop-color:#ff4883;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#ffa500;stop-opacity:1" />
    </linearGradient>
  </defs>
</svg>
</div>
<% end %>

<!-- <style>
.loader {
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.loader > img {
   width: 100px;
}
.loader.hidden {
   animation: fadeOut 1s;
   animation-fill-mode: forwards;
}
@keyframes fadeOut {
   100% {
       opacity: 0;
       visibility: hidden;
   }
}
.thumb {
   height: 100px;
   border: 1px solid black;
   margin: 10px;
}
</style>

<div class="loader">
   <iframe src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mashable-3oEjI6SIIHBdRxXI40"></a></p>
</div> -->
  <script>
    window.addEventListener("load", function () {
       const loader = document.querySelector(".loader");
       loader.className += " hidden"; // class "loader hidden"
    });
  </script>

  <!-- PARTY PHOTO -->
  <div class="party-photo-container">
    <% unless @party.photo.nil? %>
    <%= image_tag "#{@party.photo}", class: "party-photo-round"%>
    <% else %>
    <%= image_tag("default_image.jpg", alt: "Default Party Image", class: "party_photo-round")%>
    <% end %>
  </div>

  <!-- PARTY DESCRIPTION -->
  <div><p class="paragraph2"><%=@party.description%></p></div>

  <!-- ANALYTICS -->

  <h1 class="sub-header3">Party analytics</h1>


  <!-- SMALL PARTY ANALYTICS TABLE -->
  <div class="littlebox">
    <table class="smallanalytics">
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1">Tracks</td>
        <td class="smallanalytics-text2">Duration</td>
        <td class="smallanalytics-text3">Guests</td>
      </tr>
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1"><%= @playlist.scoped_tracks_size %></td>
        <td class="smallanalytics-text2"><%= @duration %></td>
        <td class="smallanalytics-text3"><%= @party.users.size %></td>
      </tr>
    </table>
  </div>

  <!-- GENRE CHART -->
  <div class="wrapper">
<!--     <div class="container d-flex flex-column justify-content-center align-items-center">
 -->      <!-- <div class="chart-wrapper">
        <div class="chart-container"> -->
          <canvas id="myChart" width="800"></canvas>
        <!-- </div>
      </div> -->
    </div>

    <script>
    let ctx = document.getElementById('myChart').getContext('2d');
    const genres = []
    <% @genre.each do |genre| %>
    genres.push("<%= genre %>");
    <% end %>
    const occurrences = {}

    genres.forEach((v) => {
    if (occurrences[v]) {
    occurrences[v] = occurrences[v] + 1
    }
    else occurrences[v] = 1
    })

    const sortable = [];
    for (let o in occurrences) {
    sortable.push([o, occurrences[o]]);
    }

    sortable.sort(function(a, b) {
    return b[1] - a[1];
    });

    const genresByPopularity = {}

    sortable.forEach(pair => {
    genresByPopularity[pair[0]] = pair[1]
    })

    let check = Object(genresByPopularity)

    var array_keys = new Array();
    var array_values = new Array();
    var final_values_array = new Array();

    for (var key in check) {
    array_keys.push(key);
    array_values.push(check[key])
    }
//

//
    array_values.slice(0,5).forEach((value)=>{
    final_values_array.push((Math.round((value / array_values.reduce((a,b)=>(a+b),0) * 100))))
    })
    let colorHex = ['#ffa500', '#ff4883', '#da53e0', '#40a0e0', '#00cc84'];
    let myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: final_values_array,
          backgroundColor: colorHex,
          borderColor: colorHex,
          borderAlign: 'center'
        }],
      labels: array_keys.slice(0,5)
      },
      options: {
        layout: {
        padding: {
        bottom: 10,
        top: 30
        }
      },
      // maintainAspectRatio: true,
      legend: {
        // position: 'left',
        display: false
      },
      plugins: {
        datalabels: {
          color: '#000000',
          anchor: 'end',
          borderRadius: 25,
          backgroundColor: (context) => {
            return context.dataset.backgroundColor;
          },
          font: {
            size: '13',
          },
          formatter: (value,context) => {
            return  context.chart.data.labels[context.dataIndex].charAt(0).toUpperCase() + context.chart.data.labels[context.dataIndex].slice(1)
          }
        }
      }
    }
    })
  </script>
  </div>

    <!-- BIG PARTY ANALYTICS TABLE -->
  <div class="bigbox" id="low">
   <table class="biganalytics">
    <tr class="biganalytics-row">
      <td class="biganalytics-text1">Danceability</td>
      <td class="biganalytics-text2">Energy</td>
    </tr>
    <tr class="biganalytics-row">

      <!-- DANCEABILITY -->
      <td class="biganalytics-text3">
        <% if @danceability.nil? %>
        0%
        <% else %>
        <%= @danceability.to_i %>%
        <% end %>
      </td>

      <!-- ENERGY -->
      <td class="biganalytics-text4">
        <% if @energy.nil? %>
        0%
        <% else %>
        <%= @energy.to_i %>%
        <% end %>
      </td>
    </tr>
    <tr class="biganalytics-row">
      <td class="biganalytics-text5">Valence</td>
      <td class="biganalytics-text6">Popularity</td>
    </tr>
    <tr class="biganalytics-row">

      <!-- VALENCE -->
      <td class="biganalytics-text7">
        <% if @valence.nil? %>
        0%
        <% else %>
        <%= @valence.to_i %>%
        <% end %>
      </td>

      <!-- POPULARITY -->
      <td class="biganalytics-text8">
        <% if @popularity.nil? %>
        0%
        <% else %>
        <%= @popularity.to_i %>%
        <% end %>
      </td>
    </tr>
  </table>
</div>


  <!-- JS CODE FOR GENRE CHART -->
  <script>
  genres.forEach((v) => {
  if (occurrences[v]) {
    occurrences[v] = occurrences[v] + 1
  } else occurrences[v] = 1
})

const sortable = [];
for (let o in occurrences) {
  sortable.push([o, occurrences[o]]);
}

sortable.sort(function(a, b) {
    return b[1] - a[1];
});

const genresByPopularity = {}

sortable.forEach(pair => {
  genresByPopularity[pair[0]] = pair[1]
})

let check = Object(genresByPopularity)

var array_keys = new Array();
var array_values = new Array();
var final_values_array = new Array();

for (var key in check) {
  array_keys.push(key);
  array_values.push(check[key])
}
//
//
array_values.slice(0,5).forEach((value) =>{
  final_values_array.push((Math.round((value / array_values.reduce((a,b)=>(a+b),0) * 100))))
})
  let colorHex = ['#32C5FF', '#B620E0', '#F7B500', '#808080'];
  let myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: final_values_array,
        backgroundColor: colorHex
      }],
      labels: array_keys.slice(0,5)
    },
    options: {
      layout: {
    padding: {
      bottom: 10
    }
  },
      responsive: true,
      legend: {
        position: 'left',
        display: false

      },
      plugins: {
        datalabels: {
          color: '#fff',
          anchor: 'end',
          align: 'start',
          offset: -10,
          borderWidth: 2,
          borderColor: '#fff',
          borderRadius: 25,
          backgroundColor: (context) => {
            return context.dataset.backgroundColor;
          },
          font: {
            weight: 'bold',
            size: '10'
          },
          formatter: (value,context) => {
            return  context.chart.data.labels[context.dataIndex].charAt(0).toUpperCase() + context.chart.data.labels[context.dataIndex].slice(1)  + ": " +  value + "%";
          }
        }
      }
    }
    })
  </script>
<div id="lows">
  <%= form_for '', url: party_playlist_create_on_spotify_path(@party, @party.playlist), method: :post do |f| %>
    <div class="bottom-space">
      <div class="smallcolorbutton">
        <div>
        <%= f.submit "Save on Spotify", class: "whitebackground", id: "whiteback", data: { disable_with: "Saving..." } %>
        </div>
      </div>
    </div>
    <% end %>
    </div>

<%= render 'shared/navbar' %>

