
<div class=mainbodywithnav>
  <%@tracks.each do |track| %>
  <h2><%=track.title%></h2>
  <h2><%=(track.duration_ms / 1000)%></h2>
  <p><%=track.popularity%></p>
  <%=track.energy%>
  <%end%>
</div>

<%= render 'shared/navbar' %>

