<div class=mainbodywithnav>

  <%= render 'shared/dropdown' %>


  <p class="header"><%=@party.title%></p>
  <p class="sub-header">Tracks</p>

  <div class="tracks-container">

    <!-- LOOP OVER EACH TRACK OF PLAYLIST -->
    <%@tracks.each do |track| %>

    <!-- CREATE A CARD -->
    <div class="track-card">

      <!-- SET (DEFAULT) IMAGE -->
      <% unless track.image.nil? %>
      <%= image_tag track.image, class: "track-image"%>
      <% else %>
      <%= image_tag("default_image.jpg", size: "160x100", alt: "Default Artist Image", class: "track-image")%>
      <% end %>

      <!-- PRINT INFO ON TRACK TITLE AND ARTIST -->
      <div class="track-info">
        <h3 class="track-title"><%=track.title%></h3>
        <p class="track-artist"><%=track.artist%></p>
      </div>

      <!-- END CARD -->
    </div>

    <!-- END LOOP -->
    <%end%>

  </div>

</div>

<%= render 'shared/navbar' %>


