  <%= render 'shared/dropdown' %>

<!-- <div class="mainbodynonav"> -->
  <h1 class="normalheader"><%= @party.title %></h1>

  <!-- PARTY PHOTO -->
  <div class="party-photo-container">
    <% unless @party.photo.nil? %>
    <%= image_tag "#{@party.photo}", class: "party-photo-round"%>
    <% else %>
    <%= image_tag("default_image.jpg", alt: "Default Party Image", class: "party_photo-round")%>
    <% end %>
  </div>


  <h1 class="sub-header4">Guestlist</h1>

    <div class="smallcolorbutton">
      <div>
      <%=button_to "Invite Friends", new_user_invitation_path(party: @party.id), :method=> :get, :class=>"whitebackground", :id=>"whiteback"%>
      </div>
    </div>

<div class="guest-container">
 <% @guests.each do |guest| %>
  <div class="avatar-guest">
    <%= image_tag guest.image, class: "avatar-medium"%>
    <p class="guest-name"> <%= guest.display_name %></p>
  </div>
  <%end%>

</div>

<%= render 'shared/navbar' %>

