<div class="mainbodynonav">

  <div class="users-container">
    <!-- User Image or default image, if no spotify image -->
    <div class="avatar-user">

      <% unless current_user.image.nil? %>
      <%= image_tag current_user.image, class: "profile"%>
      <% else %>
      <%= image_tag("default_image.jpg", size: "160x100", alt: "Default User Image", class: "profile")%>
      <% end %>

    </div>

    <!-- User name -->
    <h1 class="header"><%= current_user.display_name %></h1>

    <div class="smallcolorbutton">
      <div class="whitebackground">
        <div>
          <%=link_to "Create a Party", new_party_path %>
        </div>
      </div>
    </div>

    <%@parties.each do |party|%>

    <div class="party-card">


      <% unless party.image.nil? %>
      <%= image_tag party.image, class: "party-image"%>
      <% else %>
      <%= image_tag("default_image.jpg", size: "160x100", alt: "Default Party Image", class: "party-image")%>
      <% end %>

      <div class="party-info">
        <%=link_to party.title, party_path(party), class: "party-text"%>
      </div>

    </div>

    <%end%>


  </div>

</div>
